.movie-card-container {
    height: 280px;
    width: 280px;
    margin-top: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 575px) {
    .movie-card-container {
        height: 100px;
        width: 100px;
        margin-right: 50px;
        margin-bottom: 180px;
        margin-left: 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
    .movie-card-container {
        height: 200px;
        width: 200px;
        margin-bottom: 50px;
    }
}

.link-element {
    text-decoration: none;
}

.poster-style {
    height: 200px;
    width: 200px;
    border-radius: 10px;
} 

.title-heading {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 575px) {
    .title-heading {
        font-size: 14px;
    }
    .poster-style {
        height: 170px;
        width: 170px
    }
}