.movie-page-container {
    min-height: 90vh;
    width: 100%;
    background-image: url("https://wallpapers.com/images/high/dark-gradient-0pkijn4m63be9zse.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
