.container {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://wallpapers.com/images/high/dark-gradient-0pkijn4m63be9zse.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.movie-container {
    border-radius: 10px;
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
