.header-container {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-image-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.movie-db-image {
    height: 30px;
    width: 60px;
}
.tab-styling {
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border-radius: 15px;
    height: 30px;
    width: 80px;
}
.active-tab {
    color: orange;
    border: 1px solid orange
}
.no-active-tab {
    color: white;
    border: 1px solid white;
}